Options -Indexes
RewriteEngine On

# Arahkan semua request ke index.php (kecuali file/folder yang benar-benar ada)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]